.bigmedia
  width 786px
  height 442px
  border 2px solid sitetheme

.smallmedia
  width 386px
  height 217px
  float left
  margin-right 10px
  margin-bottom 5px
  border 2px solid sitetheme

.post
  padding 5px
  border-bottom 1px solid sitetheme

.post:after
  clear both
  content ''
  display block