highlight = #1ccd21
activate = #6ede00
sitetheme = #186518

@import "content.styl"

body
  margin 0
  padding 0
  font 16px "Lucida Grande", Verdana, sans-serif
  color sitetheme
  background-color #000

a
  color sitetheme

a:hover
  color highlight

p
  margin-bottom 0

.background
  position absolute
  z-index -1
  width 100%
  padding-top 41%

.background img
  position absolute
  width 100%
  top 0

.menu
  background-color rgba(0, 0, 0, 0.8)
  border-bottom 2px solid sitetheme
  text-align center
  height 40px
  width 100%
  font-size 28px
  a
    text-decoration none
    margin 0 8px

.hero
  width 100%
  padding-top 24%

.container
  text-align center
  background-color black
  background: linear-gradient(rgba(0, 0, 0, 0.8), black 200px)
  border-top 2px solid sitetheme
  min-height 55vh
  width 100%

.content
  text-align left
  width 800px
  margin 0 auto
  overflow auto

.end
  margin 0 auto
  width 800px
  padding-bottom 30px